.judul {
  display :flex;
  justify-content: center;
  align-items: center;
}

.container {
  border-collapse :collapse;
  border: 2px solid black;
  border-right-style:none;
}

.number {
  border-right: 2px solid black;
}

.head {
  border-left:none;
  border-right:none;
  text-align:left;
}

.isi {
  width:440px;
  border-right:none;
}

.samaDengan{
  border-right:none;
  border-left:none;
  margin-top:50px;
  width:300px;
}

.umur {
  border-right:none;
  border-left:none;
  text-align:right;;
}

.tahun{
  border-right:none;
  border-left:none;
  text-align:center;
}

.null {
  border-right:none;
  border-left:none;
}

.lampiran{
  border-right:none;
  border-left:none;
  width:190px;
  font-style:italic;
}

@media screen and (max-width: 768px) {
  .container, aside {
    width:100%;
  }
}
